VITE_FIREBASE_API_KEY="AIzaSyDktMKrlFp8mrebtolr9X35jRpm0DEbRKU",
VITE_FIREBASE_AUTH_DOMAIN="gaiasunset.firebaseapp.com",
VITE_FIREBASE_PROJECT_ID="gaiasunset",
VITE_FIREBASE_STORAGE_BUCKET="gaiasunset.firebasestorage.app",
VITE_FIREBASE_MESSAGING_SENDER_ID="16469622992",
VITE_FIREBASE_APP_ID="1:16469622992:web:1f5812944d40a9f1e69ed5"